@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/img1.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #00415a71;
    border: 2px solid #00415a71;
    color: #e5d1bc;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #114c5c;
    color: #dfe0db;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpeg');
    background-size: cover;
    background-position: top;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a{
    background-color: #1e2c49dc;
    border: 2px solid #1e2c49;
    color: #dce5f4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration:none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover{
    transform: scale(1.2);
}

.quality-text{
    background-color: #ad806b;
    color: #dce5f4;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image{
    background-attachment: fixed;
    background-image: url('../img/img3.jpeg');
    background-size: cover;
    background-position: top;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a{
    background-color: #3d3741b9;
    border: 2px solid #3d3741b9;
    color: #c0bdc1;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration:none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover{
    transform: scale(1.2);
}

.origin-text{
    background-color: #764b39;
    color: #c0bdc1;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 0 15rem;
}

.origin-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer{
    height: 250px;
    background-color: #1e030a;
    color: #dce5f4;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color: #dce5f4;
    text-decoration: none;
}
.footer ul li:hover{
    /* color: #fff;*/
    transform: scale(1.2);
}